<%- include ('./partials/header.ejs') -%>
<div class="container">
    <form action="/createJob" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Avatar</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Company</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Job</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Salary</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Location</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Description</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Duration</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Category</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </form>
</div>
<%- include ('./partials/footer.ejs') -%>


<!--<form action="/cv/createJob" method="post">-->
<!--    <input type="text" name="avatar">-->
<!--    <input type="text" name="company">-->
<!--    <input type="text" name="job">-->
<!--    <input type="number" name="salary">-->
<!--    <input type="text" name="location">-->
<!--    <input type="text" name="desc">-->
<!--    <input type="text" name="duration">-->
<!--    <input type="text" name="category">-->
<!--    <button type="submit">Create Job</button>-->
<!--</form>-->

